#### Function to convert JSON files created using VIA tool, into csv files, to be converted into tfrecords and fed into OD API

In [1]:
import json
import pandas as pd
import numpy as np
import cv2
from PIL import Image

C:\Users\niharika.a.kumari\AppData\Local\Continuum\anaconda3\envs\tensorflow\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\niharika.a.kumari\AppData\Local\Continuum\anaconda3\envs\tensorflow\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
C:\Users\niharika.a.kumari\AppData\Local\Continuum\anaconda3\envs\tensorflow\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
with open("sudoku_annot_2.json", "r") as read_file:
    data = json.load(read_file)

In [11]:
# data

In [10]:
path = "sudoku_imgs/"
keys_list = list(data['_via_img_metadata'].keys())
labels_df['image_name'] = keys_list
json_list = []
for key in keys_list:
    i= keys_list.index(key)
    val = data['_via_img_metadata'][key]['regions'][0]['shape_attributes']
    key = key[:-6]
    temp_image = cv2.imread(path + str(key))
    value = (key,temp_image.shape[0],temp_image.shape[1],'Sudoku',val['x'],val['y'], val['x'] + val['width'], val['y'] + val['height'])
    json_list.append(value)
    
column_name = ['filename', 'width', 'height', 'class', 'xmin', 'ymin', 'xmax', 'ymax']
json_df = pd.DataFrame(json_list, columns=column_name)

json_df.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,Screenshot_2021-01-07-23-19-00-858_com.easybra...,2280,1080,Sudoku,8,306,1059,1369
1,Screenshot_2021-01-07-23-19-21-187_com.easybra...,2280,1080,Sudoku,5,299,1062,1365
2,Screenshot_2021-01-07-23-19-37-128_com.easybra...,2280,1080,Sudoku,19,323,1066,1366
3,Screenshot_2021-01-07-23-19-52-081_com.easybra...,2280,1080,Sudoku,13,306,1076,1373
4,Screenshot_2021-01-07-23-20-03-976_com.easybra...,2280,1080,Sudoku,17,310,1068,1369

In [ ]:
json_df.to_csv('raccoon_labels.csv', index=None)