In [2]:
import json
import pandas as pd
import numpy as np
import cv2
from PIL import Image

In [3]:
with open("sudoku_annot_2.json", "r") as read_file:
   data = json.load(read_file)

In [18]:
labels_df = pd.DataFrame(columns = ['image_name','x','y','width','height'])
keys_list = list(data['_via_img_metadata'].keys())
labels_df['image_name'] = keys_list
for key in keys_list:
    i= keys_list.index(key)
    val = data['_via_img_metadata'][key]['regions'][0]['shape_attributes']
    labels_df.at[i,'x'] = val['x']
    labels_df.at[i,'y'] = val['y']
    labels_df.at[i,'width'] = val['width']
    labels_df.at[i,'height'] = val['height']

labels_df

                                           image_name   x    y width height
0   Screenshot_2021-01-07-23-19-00-858_com.easybra...   8  306  1051   1063
1   Screenshot_2021-01-07-23-19-21-187_com.easybra...   5  299  1057   1066
2   Screenshot_2021-01-07-23-19-37-128_com.easybra...  19  323  1047   1043
3   Screenshot_2021-01-07-23-19-52-081_com.easybra...  13  306  1063   1067
4   Screenshot_2021-01-07-23-20-03-976_com.easybra...  17  310  1051   1059
..                                                ...  ..  ...   ...    ...
81  Screenshot_2021-01-07-23-30-20-139_easy.sudoku...  29  431  1021   1047
82  Screenshot_2021-01-07-23-30-27-769_easy.sudoku...  38  448  1017   1030
83  Screenshot_2021-01-07-23-30-35-882_easy.sudoku...  21  448  1034   1021
84  Screenshot_2021-01-07-23-30-46-015_easy.sudoku...  29  452  1021   1021
85  Screenshot_2021-01-07-23-30-52-555_easy.sudoku...  29  452  1021   1017

[86 rows x 5 columns]